.products::-webkit-scrollbar{
    display: none;
}

.categories::-webkit-scrollbar{
    display: none;
}

.populars::-webkit-scrollbar{
    display: none;
}

.shader{
    background: linear-gradient(to right bottom, #69628a, #040309);
}

/* width of scrollbar */
::-webkit-scrollbar {
  height: 6px;
  width: 8px;
}

/* track */
::-webkit-scrollbar-track {
  background: #27243628;
}

/* draggable bar */
::-webkit-scrollbar-thumb {
  background: #272436;
  border-radius: 10px;
}

/* hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #272436;
}