@font-face {
  font-family: neu;
  src: url(./assets/NeueHaasDisplayMediu.ttf);
}

@font-face {
  font-family: neu;
  font-weight: 200;
  src: url(./assets//NeueHaasDisplayRoman.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: neu;
}
.main {
  background: #efeae3;
  /* overflow-x: none; */
}

/* -----------------section -------------------- */
section {
  padding-bottom: 64px;
  margin-top: 64px;
  max-width: 1440px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}
/* -------------------nav-----------------------  */
.nav {
  width: 100%;
  padding: 24px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 600px;
  width: 100%;
  gap: 16px;
}
/*--------------------------------- button ---------------------------------  */
button {
  position: relative;
  padding: 12px 24px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 32px;
  background: transparent;
  font-weight: 600;
  color: black;
  overflow: hidden;
  cursor: pointer;
  z-index: 0;
  font-size: 16px;
}

button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: black;
  transition: 0.5s ease;
  z-index: -1;
}

button:hover::before {
  bottom: 0;
}

button:hover {
  color: white;
}

/*----------------------- hero ------------------------- */
.hero {
  min-height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.hero .left {
  width: 40%;
  max-width: 400px;
}
.hero .left p {
  font-size: 28px;
}

.hero .right {
  width: 60vw;

  text-align: right;
}
.hero .right h1 {
  font-size: 108px;
  line-height: 98px;
}

video {
  max-width: 100%;
  border-radius: 24px;
}

.marquee {
  width: 100%;
  overflow: hidden;
  background: #efeae3;
  /* padding: 80px 0; */
}

/* moving track */
.marquee-track {
  display: flex;
  width: fit-content;
  animation: scroll-left 20s linear infinite;
}

/* text group */
.sec-2 {
  display: flex;
  align-items: center;
  gap: 98px;
  padding-right: 98px;
}

/* text style */
.sec-2 h2 {
  font-size: 108px;
  font-weight: 600;
  white-space: nowrap;
  position: relative;
}
.sec-2 img {
  height: 84px;
}

/* infinite animation */
@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/*--------------------- about -------------------- */
.about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .left {
  width: 60%;
  max-width: 830px;
}

.about .left p {
  font-size: 60px;
}

.about .right {
  /* background-color: #ffae3c; */
  width: 30%;
  max-width: 290px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  gap: 32px;
}
.about .right img,
.about .right {
  width: 100%;
  border-radius: 12px;
}

.about .right p {
  font-weight: 200;
  font-size: 15px;
}
/* -----------------services -------------------- */

.services {
  padding-bottom: 64px;
  margin-top: 64px;
}
.services-card {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #38383864;
}

.services-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: orange;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.25s ease;
  z-index: 0;
}

.services-card:hover::before {
  transform: scaleY(1);
}

.services-inner {
  position: relative;
  z-index: 1;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 24px;
}

.services-card h3 {
  font-size: 42px;
  font-weight: 700;
}

.services-inner figure {
  height: 450px;
  aspect-ratio: 7 / 8;
  position: fixed;
  top: 25%;
  left: 50%;
  display: none;
}

.services-inner figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.services-card:hover .services-inner figure {
  display: block;
}

/* horizontal scroll  */




/* footer  */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-color: #ffffff;

  background-image: radial-gradient(
    ellipse 90% 120%  at 100% 10%,
    #ffffff 30%,
    #f97316 50%,
    #dc7f22c0 90%

  );
}
