* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #f1f1f1;
}

.layout {
  display: flex;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  /* position: relative; */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 24px;
  height: 100%;
  width: 72px;
  /* background: rgb(136, 164, 193); */
  border-right: 1px solid rgba(0, 0, 0, 0.275);
  position: fixed;
  left: 0;
  top: 0;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  margin-top: 24px;
  padding: 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav ul li:hover,
.active {
  background-color: #e5e5e0;
  cursor: pointer;
}
.nav .logo {
  backdrop-filter: red;
}

nav ul li:first-child {
  margin-top: 0;
}
.active {
  color: #000000;
}

/* header */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: #f9f6f6;
  top: 0;
  left: 72px;
  width: calc(100% - 72px);
  margin-right: 32px;
  padding: 16px;

  z-index: 10;
}

.header .search {
  width: 100%;
  max-width: 80%;
  display: flex;
  align-items: center;
  background-color: #e5e5e0;
  border-radius: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
.header .search:hover {
  cursor: text;
}

.header .searchInput {
  width: 100%;
  padding: 12px 16px;
  border: none;
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
}

.header .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 50%;
  color: #ffffff;
}
.main {
  margin-top: 80px; /* header */
  margin-left: 72px; /* sidebar */
  padding: 16px;
}

/* Masonry grid */
.masonry {
  column-count: 5;
  column-gap: 16px;
}

.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

/* Card */
.card {
  position: relative;
  break-inside: avoid;
  margin-bottom: 16px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}

.card img {
  width: 100%;
  display: block;
  border-radius: 16px;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.05);
}

.cardOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.3s ease;
  z-index: 1;
}

.card:hover .cardOverlay {
  opacity: 1;
}

.save-btn,
.cardBottom {
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 2;
}

.card:hover .save-btn,
.card:hover .cardBottom {
  opacity: 1;
  cursor: pointer;
}

.save-btn {
  top: 14px;
  right: 14px;
  background: #e60023;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 14px;
}

.share-btn {
  background: white;
  color: black;
  padding: 10px 16px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 14px;
}

.cardOverlay-text {
  color: white;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardBottom {
  position: absolute;
  bottom: 0;          
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;  
}

/* Responsive */
@media (max-width: 1200px) {
  .masonry {
    column-count: 4;
  }
}
@media (max-width: 900px) {
  .masonry {
    column-count: 3;
  }
}
@media (max-width: 600px) {
  .masonry {
    column-count: 2;
  }
}
